<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product Id="*" Name="Our Story Titan" Language="1033" Version="1.0.0.0" Manufacturer="Newcastle University" UpgradeCode="07a6b158-3593-4c10-9200-baf92006faeb">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Our Story Titan" Level="1">
      <Feature Id="VCRedist" Title="Visual C++ 8.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
      </Feature>
      <ComponentGroupRef Id="ProductFilesComponentGroup" />
      <ComponentGroupRef Id="ExtraFilesComponentGroup" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="FirewallException" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.Bootlegger.App.Win.ProjectDir)/Readme.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.Bootlegger.App.Win.ProjectDir)/logo_install.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.Bootlegger.App.Win.ProjectDir)/logo_back.bmp" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
      <Component Id="FirewallException" Guid="373cc123-7453-4c73-b236-ee66b4e5e950">
        <fire:FirewallException Id="FWX3" Name="Our Story Titan" Profile="all" Program="C:\program files\docker\docker\resources\vpnkit.exe" Port="8845" Protocol="tcp" Scope="any" />
      </Component>
    </DirectoryRef>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Our Story Titan">
          
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Our Story Titan"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Our Story"
              Target="[INSTALLFOLDER]Our Story Titan.exe"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/OurStoryTitan"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
          
        </Component>
      </Directory>
    </Directory>

    



    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Our Story Titan"
                  Target="[INSTALLFOLDER]Our Story Titan.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="FixNetworkShortcut"
                 Name="Fix Network"
                 Target="[INSTALLFOLDER]FixNetwork.exe"
                 WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\OurStoryTitan" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\RunOnce" Name="ourstory-firstrun" Type="string" Value="[INSTALLFOLDER]Our Story Titan.exe"/>

      </Component>
    </DirectoryRef>


    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize"/>
    </InstallExecuteSequence>

  </Product>
</Wix>
