<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Our Story Titan" Language="1033" Version="1.0.0.0" Manufacturer="Newcastle University" UpgradeCode="07a6b158-3593-4c10-9200-baf92006faeb">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Our Story Titan" Level="1">
      <ComponentGroupRef Id="ProductFilesComponentGroup" />
      <ComponentGroupRef Id="ExtraFilesComponentGroup" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.Bootlegger.App.Win.ProjectDir)/Readme.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.Bootlegger.App.Win.ProjectDir)/logo_install.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.Bootlegger.App.Win.ProjectDir)/logo_back.bmp" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <!--<Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Our Story Titan" />-->
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!--<Directory Id="ProductFilesComponentGroup"></Directory>-->
        <Directory Id="INSTALLFOLDER" Name="Our Story Titan">
        
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Our Story Titan"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Our Story"
              Target="[INSTALLFOLDER]Our Story Titan.exe"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/MyAppName"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>



    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Our Story Titan"
                  Target="[INSTALLFOLDER]Our Story Titan.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="FixNetworkShortcut"
                 Name="Fix Network"
                 Target="[INSTALLFOLDER]FixNetwork.exe"
                 WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\OurStoryTitan" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\RunOnce" Name="ourstory-firstrun" Type="string" Value="[INSTALLFOLDER]Our Story Titan.exe"/>

      </Component>
    </DirectoryRef>


    <!--
    <Property Id="WixShellExecTarget" Value="[#Our Story Titan.exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />-->

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize"/>
    </InstallExecuteSequence>

  </Product>
</Wix>
